{% extends 'layout/base.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}

{% for page in pages %}

<div class="card mb-lg-4">

    <div class="card-header">
        <h5>
            {{ page.title }}
        </h5>
    </div>

    <div class="card-body">

        <p class="card-text">
            {{ page.description }}
        </p>

        <a class="btn btn-primary" href="{{ path('page', {slug: page.slug}) }}">
            {{ 'text.read_more'|trans }}
        </a>

    </div>

</div>

{% else %}
    <div class="well">{{ 'message.not_found'|trans }}</div>
{% endfor %}

{{ knp_pagination_render(pages) }}

{% endblock %}

