{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}
{% if app.user.profile.fullName is empty %}
<p>Please fill up your profile details <a href="{{ path('user_profile') }}">Click Here</a></p>

{% endif %}
<p>Add staff member <a href="{{ path('app_dealer_staff_new') }}">Click Here</a></p>


    <div class="row my-5">

        <div class="col col-lg-6">
            <hr>
            <p>subscription</p>

            <p>
                {#        {{ dump(subscription) }}#}
                {{ subscription.plan }}
            </p>
<a href="{{ path('app_pricing') }}" class="btn btn-info">  {{ 'action.change_plane'|trans }}</a>
            {#    {% endif %}#}


            <hr>
            <p>account</p>

            <p>
                {#        {{ dump(account) }}#}
                {{ account.name }}
            </p>


            <hr>
            <p>User ID</p>

            <p>
                {{ userId }}
            </p>

        </div>


        <div class="col col-lg-6">

            <h1>Message index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>UpdatedBy</th>
                    <th>Content</th>
                    <th>Id</th>
                    <th>thread Id</th>
                    <th>user Id</th>
                    <th>Created_at</th>
                </tr>
                </thead>
                <tbody>
                {% for data in account_users %}
                    {#        {{ dump(data) }}#}
                    <tr>
                        <td>{{ data.user.email }}</td>
                        <td>{{ data.user.profile.firstName }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>


    <div class="row mt-4 mb-4">
        <div class="col">

            <h1>
                {{ title|trans }}

                {% if is_primary == false %}
                    <p>
                        NOT PRIMARY USER
                    </p>
                {% endif %}

            </h1>

        </div>
    </div>



{#    {% if is_primary == true %}#}




    <hr>
    <p>products</p>


    {% for data in products %}
    <p>
{#        {{ dump(data) }}#}
{#        {{ dump(data.product.id) }}#}
        {{ data.id }}
        --
        {{ data.title }}
    </p>
    {% endfor %}

    <hr>
    <p>threads</p>

{#    {{ dump(threads) }}#}
{#    {% for data in threads %}#}
{#        <p>#}
{#            #}{#        {{ dump(data) }}#}
{#            #}{#        {{ dump(data.product.id) }}#}
{#            {{ data.id }}#}
{#            --#}
{#            {{ data.product.id }}#}
{#            {{ data.product.title }}#}
{#        </p>#}
{#    {% endfor %}#}

    {% for category in productThreads %}
        {{ category.title }}
        <br>
        {% for thread in category.threads %}
            {{ thread.createdAt ? thread.createdAt|date('Y-m-d H:i:s') : '' }}
            <br>
        {% endfor %}
    {% endfor %}

    {#    <hr>#}
{#    <p>messages</p>#}

{#    {{ dump(messages) }}#}
{#    {% for data in messages %}#}
{#        <p>#}
{#            #}{#        {{ dump(data) }}#}
{#            #}{#        {{ dump(data.product.id) }}#}
{#            {{ data.id }}#}
{#            --#}
{#            (user:#}
{#            {{ data.user.id }}#}
{#            /thread:#}
{#            {{ data.thread.id }}#}
{#            )#}
{#            {{ data.content }}#}
{#        </p>#}
{#    {% endfor %}#}

{% endblock %}
