{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row mt-4 mb-4">
        <div class="col">

            <h1>
                {{ title|trans }}

                {% if is_primary == false %}
                    <p>
                        NOT PRIMARY USER
                    </p>
                {% endif %}

            </h1>

        </div>
    </div>



{#    {% if is_primary == true %}#}

    <hr>
    <p>account_users</p>

        {% for data in account_users %}
            <p>
                {#        {{ dump(data) }}#}
                {#        {{ dump(data.user.profile.firstName) }}#}
                {{ data.user.email }}
                --
                {{ data.user.profile.firstName }}
            </p>
        {% endfor %}

    <hr>
    <p>subscription</p>

    <p>
            {#        {{ dump(subscription) }}#}
            {{ subscription.plan }}
        </p>

{#    {% endif %}#}


    <hr>
    <p>account</p>

    <p>
{#        {{ dump(account) }}#}
        {{ account.name }}
    </p>


    <hr>
    <p>products</p>


    {% for data in products %}
    <p>
{#        {{ dump(data) }}#}
{#        {{ dump(data.product.id) }}#}
        {{ data.id }}
        --
        {{ data.title }}
    </p>
    {% endfor %}

    <hr>
    <p>threads</p>

{#    {{ dump(threads) }}#}
    {% for data in threads %}
        <p>
            {#        {{ dump(data) }}#}
            {#        {{ dump(data.product.id) }}#}
            {{ data.id }}
            --
            {{ data.product.id }}
            {{ data.product.title }}
        </p>
    {% endfor %}


    <hr>
    <p>messages</p>

{#    {{ dump(messages) }}#}
    {% for data in messages %}
        <p>
            {#        {{ dump(data) }}#}
            {#        {{ dump(data.product.id) }}#}
            {{ data.id }}
            --
            (user:
            {{ data.user.id }}
            /thread:
            {{ data.thread.id }}
            )
            {{ data.content }}
        </p>
    {% endfor %}

{% endblock %}
