{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
<!-- Title -->
{{ include('common/_action_title.html.twig') }}
{% endblock %}

{% block body %}

<div class="row mt-4 mb-4 px-lg-5">
    <div class="col-md-9 col-lg-10">

    <div class="row g-3">

        <div class="col-sm-6">
            <label for="user.email" class="form-label">
                {{ 'text.account'|trans }}
            </label>
            <div class="form-control text-bg-secondary">
                {{ profile.user.email }}
            </div>
        </div>

    </div>

    <hr class="my-4">

    {{ form_start(form) }}

        <div class="row g-3">

            <div class="col-sm-6">
                {{ form_row(form.first_name) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.last_name) }}
            </div>

        </div>

    <!-- Submit -->
    {{ include('layout/dash/partials/_submit.html.twig') }}

    {{ form_end(form) }}

    </div>
</div>

{% endblock %}
