{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
<!-- Title -->
{{ include('common/_action_title.html.twig') }}
{% endblock %}

{% block body %}

<div class="row mt-4 mb-4 px-lg-5">
<div class="col-md-9 col-lg-10">

    <div class="row g-3">

        <div class="col-sm-6">
            <div class="text-muted">
                {{ 'text.account'|trans }}
            </div>
            <div class="form-control text-bg-secondary">
                {{ profile.user.email }}
            </div>
        </div>

    </div>

    <hr class="my-4">

    <div class="row g-3">

        <div class="col-sm-6">
            <div class="text-muted">
                {{ 'label.first_name'|trans }}
            </div>
            <div>
                {{ profile.firstName }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-muted">
                {{ 'label.last_name'|trans }}
            </div>
            <div>
                {{ profile.lastName }}
            </div>
        </div>

    </div>

</div>
</div>

{% endblock %}
