<nav class="navbar navbar-expand-lg bg-light static-top">
    <div class="container-fluid px-lg-2">

        <button class="btn btn-link btn-sm order-1 order-sm-0 text-dark" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>

        <span class="navbar-brand mb-0">
            <a class="nav-link" href="{{ path('app_index') }}">
                {{ app_site_name }}
            </a>
        </span>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pe-3" id="navbarToggler">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ 'menu.catalog'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('admin_category') }}">{{ 'categories'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('admin_page') }}">{{ 'pages'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('admin_user') }}">{{ 'users'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('admin_menu') }}">{{ 'menu'|trans }}</a>
                    </div>
                </li>

                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="addDropdown"
                       role="button"
                       data-toggle="dropdown"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fas fa-plus-square text-danger"></i>
                        <span class="hidden-sm">{{ 'menu.add_new'|trans }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="addDropdown">
                        <a class="dropdown-item" href="{{ path('admin_category_new') }}">{{ 'category'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('admin_page_new') }}">{{ 'page'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('admin_user_new') }}">{{ 'user'|trans }}</a>
                    </div>
                </li>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="userDropdown"
                       role="button"
                       data-toggle="dropdown"
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ 'menu.admin'|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path('admin_user_edit', {id: app.user.id}) }}">
                            {{ 'menu.profile'|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">
                            {{ 'menu.logout'|trans }}
                        </a>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</nav>
