<!-- Sidebar -->
<div class="flex-shrink-0">

    <ul class="list-unstyled ps-0">

        <li class="mb-2">
            <a href="{{ path('admin_dashboard') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-gauge-high"></i>
                {{ 'menu.dash'|trans }}
            </a>
        </li>

        <li class="mb-2">
            <a href="{{ path('admin_user') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-users"></i>
                {{ 'menu.users'|trans }}
            </a>
        </li>

        <li><hr class="dropdown-divider"></li>


        <li class="mb-2">
            <button class="product btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                {{ 'menu.products'|trans }}
            </button>
            <div class="collapse" id="product-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{{ path('admin_product') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.view'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_product_new') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.new'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-2">
            <button class="category btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="false">
                {{ 'menu.categories'|trans }}
            </button>
            <div class="collapse" id="category-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{{ path('admin_category') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.view'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_new') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.new'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-2">
            <button class="page btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#pages-collapse" aria-expanded="false">
                {{ 'menu.pages'|trans }}
            </button>
            <div class="collapse" id="pages-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{{ path('admin_page') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.view'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_page_new') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.new'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-2">
            <button class="menu btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#menu-collapse" aria-expanded="false">
                {{ 'menu.menu'|trans }}
            </button>
            <div class="collapse" id="menu-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{{ path('admin_menu') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.view'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_menu_new') }}" class="link-light d-inline-flex text-decoration-none rounded">
                            {{ 'action.new'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="mb-2">
            <a href="{{ path('admin_settings') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                {{ 'menu.settings'|trans }}
            </a>
        </li>

    </ul>

</div>
