{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('user/product/_partials/_action_header.html.twig') }}
{% endblock %}

{% block body %}

<div class="row">

    {% for product in products %}

    <!-- Item -->
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card full-xs">

            {% for image in product.images | slice(0, 1) %}
                <img class="card-img-top" src="/uploads/images/small/{{ image.file }}"
                        alt="{{ product.title }}"
                        title="{{ product.title }}"/>

            {% else %}

                <img class="card-img-top border-bottom" src="{{ asset('/images/no-image.png') }}"
                        alt="{{ product.title }}"
                        title="{{ product.title }}"/>

            {% endfor %}

            {#<a href="{{ path('product_show', {
                'id':  product.id,
                'slug': product.slug }) }}">

                {% for image in product.images | slice(0, 1) %}

                    <img class="card-img-top" src="/uploads/images/{{ image.file }}"
                         alt="{{ product.title }}"
                         title="{{ product.title }}"/>

                {% else %}

                    <img class="card-img-top border-bottom" src="{{ asset('/images/no-image.png') }}"
                         alt="{{ product.title }}"
                         title="{{ product.title }}"/>

                {% endfor %}

            </a>#}

            <div class="card-body">

                <h5 class="card-title">

                    {#<a href="{{ path('product_show', {
                            'id':  product.id,
                            'slug': product.slug }) }}">
                        {{ product.title }}
                    </a>#}

                </h5>

                <p class="small icon-green">
                    <i class="fas fa-map-marker-alt"></i> {{ product.title }}
                </p>

{#                        <span class="attribute">{{ product.dealType.name }}</span>#}
                <span class="attribute">{{ product.category.name }}</span>

                {{ include('user/product/_partials/_action_form.html.twig', {product: product}, with_context = false) }}

            </div>

        </div>
    </div>
    <!-- / Item -->

    {% else %}

        <div class="well">
            {{ 'message.not_found'|trans }}
        </div>

    {% endfor %}

</div>

<div class="py-lg-4">
    {{ knp_pagination_render(products) }}
</div>

{% endblock %}
