
{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title.add_property' | trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/select2') }}

    <link href="{{ asset('libs/summernote/0.8.20/summernote-bs4.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-home text-danger"></i> {{ 'title.add_property' | trans }}
        </div>

        <div class="card-body">
        
        
        {{ form_start(form) }}
         {#{{ form_errors(form) }}#}

            <div class="col-md-6  mb-3">
                {{ form_row(form.vin, {
                    'label': 'Vehicle Identification Number',
                    'attr': {'required':'false', 'placeholder' : 'Enter Vehicle Identification Number', 'class': 'form-control'}, 
                    'value' : vehical_identification_number ? vehical_identification_number : '' }) 
                }}
            </div>

            {% if product_response is defined  %}
                {% if product_response is empty  %}
                {% else %}
                <div class="row">
                <div class="col-md-6 mb-3">
                        {{ form_row(form.title, {
                            'label': 'label.title',
                            'attr': {'placeholder' : 'label.title', 'class': 'form-control'}, 
                            'value' : ''}) 
                        }}
                </div>
                <div class="col-md-6 mb-3">
                        {{ form_row(form.description, {
                            'label': 'label.description',
                            'attr': {'placeholder' : 'label.description', 'class': 'form-control'}, 
                            'value' : ''}) 
                        }}
                </div>
                <div class="col-md-6 mb-3">
                        {{ form_row(form.price, {
                            'label': 'label.price',
                            'attr': {'placeholder' : 'label.price', 'class': 'form-control'}, 
                            'value' : ''}) 
                        }}
                </div>
                    <div class="col-sm-6 mb-3">
                        {{ form_row(form.category, {
                            'label': 'label.category',
                            'attr': {'placeholder' : 'Select Category', 'class': 'form-control'}, 
                            }) 
                        }}
                    </div>

                    <div class="col-md-6 mb-3">
                            {{ form_row(form.images, {
                                'label': 'label.images',
                                'attr': {'placeholder' : 'label.images', 'class': 'form-control'}, 
                                }) 
                            }}
                    </div>

                    {#{{ form_row(form.images) }}#}

                    <div class="col-sm-6 mb-3">
                        <label for="year">Trims</label>
                            <select id="trim" name="trim[]" class="form-control" multiple>
                            <option value="">Select Trims</option>
                            {% for label, value in product_response.trims %}
                                <option value="{{ value.name }}" 
                               {% if value.name in trim %}
                                    {{'selected'}}
                                {% endif %}
                                    >{{ value.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label for="year">Year</label>
                        <select id="year" name="year" class="form-control">
                            <option value="">Select Year</option>
                            {% for label, value in years %}
                                <option value="{{ value.year }}" {{ (product_response.year == value.year) ? 'selected' : ''}}>{{ value.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                            <label for="make">Make</label>
                            <select id="make" name="make" class="form-control">
                            <option value="">Select Make</option>
                            {% for label, value in makes %}
                                <option value="{{ value.make }}" {{ (product_response.make == value.make or product_response.make == value.make|upper) ? 'selected' : ''}}>{{ value.make }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                            <label for="model">Model</label>
                            <select id="model" name="model" class="form-control">
                            <option value="">Select Model</option>
                            {% for label, value in models %}
                                <option value="{{ value.model }}" {{ (product_response.model == value.model) ? 'selected' : ''}}>{{ value.model }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                            {{ form_row(form.suggested_vin, {
                                'label': 'label.suggested_vin',
                                'attr': {'placeholder' : 'label.suggested_vin', 'class': 'form-control'}, 
                                'value' : (product_response.specs.suggested_vin) ? product_response.specs.suggested_vin : '' }) 
                            }}
                    </div>
                    <div class="col-md-6 mb-3">
                            {{ form_row(form.possible_values, {
                                'label': 'label.possible_values',
                                'attr': {'placeholder' : 'label.possible_values', 'class': 'form-control'}, 
                                'value' : (product_response.specs.possible_values) ? product_response.specs.possible_values : '' }) 
                            }}
                    </div>
                    <div class="col-md-6  mb-3">
                            {{ form_row(form.vehicle_descriptor, {
                                'label': 'label.vehicle_descriptor',
                                'attr': {'placeholder' : 'label.vehicle_descriptor', 'class': 'form-control'}, 
                                'value' : (product_response.specs.vehicle_descriptor) ? product_response.specs.vehicle_descriptor : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.destination_market, {
                                'label': 'label.destination_market',
                                'attr': {'placeholder' : 'label.destination_market', 'class': 'form-control'}, 
                                'value' : (product_response.specs.destination_market) ? product_response.specs.destination_market : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.manufacturer_name, {
                                'label': 'label.manufacturer_name',
                                'attr': {'placeholder' : 'label.manufacturer_name', 'class': 'form-control'}, 
                                'value' : (product_response.specs.manufacturer_name) ? product_response.specs.manufacturer_name : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.plant_city, {
                                'label': 'label.plant_city',
                                'attr': {'placeholder' : 'label.plant_city', 'class': 'form-control'}, 
                                'value' : (product_response.specs.plant_city) ? product_response.specs.plant_city : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.series, {
                                'label': 'label.series',
                                'attr': {'placeholder' : 'label.series', 'class': 'form-control'}, 
                                'value' : (product_response.specs.series) ? product_response.specs.series : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.vehicle_type, {
                                'label': 'label.vehicle_type',
                                'attr': {'placeholder' : 'label.vehicle_type', 'class': 'form-control'}, 
                                'value' : (product_response.specs.vehicle_type) ? product_response.specs.vehicle_type : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.plant_country, {
                                'label': 'label.plant_country',
                                'attr': {'placeholder' : 'label.plant_country', 'class': 'form-control'}, 
                                'value' : (product_response.specs.plant_country) ? product_response.specs.plant_country : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.plant_company_name, {
                                'label': 'label.plant_company_name',
                                'attr': {'placeholder' : 'label.plant_company_name', 'class': 'form-control'}, 
                                'value' : (product_response.specs.plant_company_name) ? product_response.specs.plant_company_name : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.plant_state, {
                                'label': 'label.plant_state',
                                'attr': {'placeholder' : 'label.plant_state', 'class': 'form-control'}, 
                                'value' : (product_response.specs.plant_state) ? product_response.specs.plant_state : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.trim2, {
                                'label': 'label.trim2',
                                'attr': {'placeholder' : 'label.trim2', 'class': 'form-control'}, 
                                'value' : (product_response.specs.trim2) ? product_response.specs.trim2 : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.series2, {
                                'label': 'label.series2',
                                'attr': {'placeholder' : 'label.series2', 'class': 'form-control'}, 
                                'value' : (product_response.specs.series2) ? product_response.specs.series2 : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.note, {
                                'label': 'label.note',
                                'attr': {'placeholder' : 'label.note', 'class': 'form-control'}, 
                                'value' : (product_response.specs.note) ? product_response.specs.note : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.base_price, {
                                'label': 'label.base_price',
                                'attr': {'placeholder' : 'label.base_price', 'class': 'form-control'}, 
                                'value' : (product_response.specs.base_price) ? product_response.specs.base_price : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.non_land_use, {
                                'label': 'label.non_land_use',
                                'attr': {'placeholder' : 'label.non_land_use', 'class': 'form-control'}, 
                                'value' : (product_response.specs.non_land_use) ? product_response.specs.non_land_use : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.body_class, {
                                'label': 'label.body_class',
                                'attr': {'placeholder' : 'label.body_class', 'class': 'form-control'}, 
                                'value' : (product_response.specs.body_class) ? product_response.specs.body_class : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.doors, {
                                'label': 'label.doors',
                                'attr': {'placeholder' : 'label.doors', 'class': 'form-control'}, 
                                'value' : (product_response.specs.doors) ? product_response.specs.doors : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                            {{ form_row(form.windows, {
                                'label': 'label.windows',
                                'attr': {'placeholder' : 'label.windows', 'class': 'form-control'}, 
                                'value' : (product_response.specs.windows) ? product_response.specs.windows : '' }) 
                            }}
                    </div>

                    <div class="col-md-6  mb-3">
                        {{ form_row(form.wheel_base_type, {
                            'label': 'label.wheel_base_type',
                            'attr': {'placeholder' : 'label.wheel_base_type', 
                            'class': 'form-control'},
                            'value' : (product_response.specs.wheel_base_type) ? product_response.specs.wheel_base_type : '' })}}
                    </div>


                    <div class="col-md-6  mb-3">
                        {{ form_row(form.track_width_inches, {'label': 'label.track_width_inches','attr': {'placeholder' : 'label.track_width_inches', 'class': 'form-control'},'value' : (product_response.specs.track_width_inches) ? product_response.specs.track_width_inches : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.gross_vehicle_weight_rating_from, {'label': 'label.gross_vehicle_weight_rating_from','attr': {'placeholder' : 'label.gross_vehicle_weight_rating_from', 'class': 'form-control'},'value' : (product_response.specs.gross_vehicle_weight_rating_from) ? product_response.specs.gross_vehicle_weight_rating_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.bed_length_inches, {'label': 'label.bed_length_inches','attr': {'placeholder' : 'label.bed_length_inches', 'class': 'form-control'},'value' : (product_response.specs.bed_length_inches) ? product_response.specs.bed_length_inches : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.curb_weight_pounds, {'label': 'label.curb_weight_pounds','attr': {'placeholder' : 'label.curb_weight_pounds', 'class': 'form-control'},'value' : (product_response.specs.curb_weight_pounds) ? product_response.specs.curb_weight_pounds : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.wheel_base_inches_from, {'label': 'label.wheel_base_inches_from','attr': {'placeholder' : 'label.wheel_base_inches_from', 'class': 'form-control'},'value' : (product_response.specs.wheel_base_inches_from) ? product_response.specs.wheel_base_inches_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.wheel_base_inches_to, {'label': 'label.wheel_base_inches_to','attr': {'placeholder' : 'label.wheel_base_inches_to', 'class': 'form-control'},'value' : (product_response.specs.wheel_base_inches_to) ? product_response.specs.wheel_base_inches_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.gross_combination_weight_rating_from, {'label': 'label.gross_combination_weight_rating_from','attr': {'placeholder' : 'label.gross_combination_weight_rating_from', 'class': 'form-control'},'value' : (product_response.specs.gross_combination_weight_rating_from) ? product_response.specs.gross_combination_weight_rating_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.gross_combination_weight_rating_to, {'label': 'label.gross_combination_weight_rating_to','attr': {'placeholder' : 'label.gross_combination_weight_rating_to', 'class': 'form-control'},'value' : (product_response.specs.gross_combination_weight_rating_to) ? product_response.specs.gross_combination_weight_rating_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.gross_vehicle_weight_rating_to, {'label': 'label.gross_vehicle_weight_rating_to','attr': {'placeholder' : 'label.gross_vehicle_weight_rating_to', 'class': 'form-control'},'value' : (product_response.specs.gross_vehicle_weight_rating_to) ? product_response.specs.gross_vehicle_weight_rating_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.bed_type, {'label': 'label.bed_type','attr': {'placeholder' : 'label.bed_type', 'class': 'form-control'},'value' : (product_response.specs.bed_type) ? product_response.specs.bed_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.cab_type, {'label': 'label.cab_type','attr': {'placeholder' : 'label.cab_type', 'class': 'form-control'},'value' : (product_response.specs.cab_type) ? product_response.specs.cab_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.trailer_type_connection, {'label': 'label.trailer_type_connection','attr': {'placeholder' : 'label.trailer_type_connection', 'class': 'form-control'},'value' : (product_response.specs.trailer_type_connection) ? product_response.specs.trailer_type_connection : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.trailer_body_type, {'label': 'label.trailer_body_type','attr': {'placeholder' : 'label.trailer_body_type', 'class': 'form-control'},'value' : (product_response.specs.trailer_body_type) ? product_response.specs.trailer_body_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.trailer_length_feet, {'label': 'label.trailer_length_feet','attr': {'placeholder' : 'label.trailer_length_feet', 'class': 'form-control'},'value' : (product_response.specs.trailer_length_feet) ? product_response.specs.trailer_length_feet : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_trailer_info, {'label': 'label.other_trailer_info','attr': {'placeholder' : 'label.other_trailer_info', 'class': 'form-control'},'value' : (product_response.specs.other_trailer_info) ? product_response.specs.other_trailer_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_wheels, {'label': 'label.number_of_wheels','attr': {'placeholder' : 'label.number_of_wheels', 'class': 'form-control'},'value' : (product_response.specs.number_of_wheels) ? product_response.specs.number_of_wheels : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.wheel_size_front_inches, {'label': 'label.wheel_size_front_inches','attr': {'placeholder' : 'label.wheel_size_front_inches', 'class': 'form-control'},'value' : (product_response.specs.wheel_size_front_inches) ? product_response.specs.wheel_size_front_inches : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.wheel_size_rear_inches, {'label': 'label.wheel_size_rear_inches','attr': {'placeholder' : 'label.wheel_size_rear_inches', 'class': 'form-control'},'value' : (product_response.specs.wheel_size_rear_inches) ? product_response.specs.wheel_size_rear_inches : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.entertainment_system, {'label': 'label.entertainment_system','attr': {'placeholder' : 'label.entertainment_system', 'class': 'form-control'},'value' : (product_response.specs.entertainment_system) ? product_response.specs.entertainment_system : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.steering_location, {'label': 'label.steering_location','attr': {'placeholder' : 'label.steering_location', 'class': 'form-control'},'value' : (product_response.specs.steering_location) ? product_response.specs.steering_location : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_seats, {'label': 'label.number_of_seats','attr': {'placeholder' : 'label.number_of_seats', 'class': 'form-control'},'value' : (product_response.specs.number_of_seats) ? product_response.specs.number_of_seats : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_seat_rows, {'label': 'label.number_of_seat_rows','attr': {'placeholder' : 'label.number_of_seat_rows', 'class': 'form-control'},'value' : (product_response.specs.number_of_seat_rows) ? product_response.specs.number_of_seat_rows : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.transmission_style, {'label': 'label.transmission_style','attr': {'placeholder' : 'label.transmission_style', 'class': 'form-control'},'value' : (product_response.specs.transmission_style) ? product_response.specs.transmission_style : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.transmission_speeds, {'label': 'label.transmission_speeds','attr': {'placeholder' : 'label.transmission_speeds', 'class': 'form-control'},'value' : (product_response.specs.transmission_speeds) ? product_response.specs.transmission_speeds : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.drive_type, {'label': 'label.drive_type','attr': {'placeholder' : 'label.drive_type', 'class': 'form-control'},'value' : (product_response.specs.drive_type) ? product_response.specs.drive_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.axles, {'label': 'Axles','attr': {'placeholder' : 'Axles', 'class': 'form-control'},'value' : (product_response.specs.axles) ? product_response.specs.axles : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.axle_configuration, {'label': 'Axle Configuration','attr': {'placeholder' : 'Axle Configuration', 'class': 'form-control'},'value' : (product_response.specs.axle_configuration) ? product_response.specs.axle_configuration : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.brake_system_type, {'label': 'Brake System Type','attr': {'placeholder' : 'Brake System Type', 'class': 'form-control'},'value' : (product_response.specs.brake_system_type) ? product_response.specs.brake_system_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.brake_system_description, {'label': 'Brake System Description','attr': {'placeholder' : 'Brake System Description', 'class': 'form-control'},'value' : (product_response.specs.brake_system_description) ? product_response.specs.brake_system_description : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_battery_info, {'label': 'Other Battery Info','attr': {'placeholder' : 'Other Battery Info', 'class': 'form-control'},'value' : (product_response.specs.other_battery_info) ? product_response.specs.other_battery_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_type, {'label': 'Battery Type','attr': {'placeholder' : 'Battery Type', 'class': 'form-control'},'value' : (product_response.specs.battery_type) ? product_response.specs.battery_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_battery_cells_per_module, {'label': 'Number Of Battery Cells Per Module','attr': {'placeholder' : 'Number Of Battery Cells Per Module', 'class': 'form-control'},'value' : (product_response.specs.number_of_battery_cells_per_module) ? product_response.specs.number_of_battery_cells_per_module : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_current_amps_from, {'label': 'Battery Current Amps From','attr': {'placeholder' : 'Battery Current Amps From', 'class': 'form-control'},'value' : (product_response.specs.battery_current_amps_from) ? product_response.specs.battery_current_amps_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_voltage_volts_from, {'label': 'Battery Voltage Volts From','attr': {'placeholder' : 'Battery Voltage Volts From', 'class': 'form-control'},'value' : (product_response.specs.battery_voltage_volts_from) ? product_response.specs.battery_voltage_volts_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_energy_kwh_from, {'label': 'Battery Energy Kwh From','attr': {'placeholder' : 'Battery Energy Kwh From', 'class': 'form-control'},'value' : (product_response.specs.battery_energy_kwh_from) ? product_response.specs.battery_energy_kwh_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.ev_drive_unit, {'label': 'Ev Drive Unit','attr': {'placeholder' : 'Ev Drive Unit', 'class': 'form-control'},'value' : (product_response.specs.ev_drive_unit) ? product_response.specs.ev_drive_unit : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_current_amps_to, {'label': 'Battery Current Amps To','attr': {'placeholder' : 'Battery Current Amps To', 'class': 'form-control'},'value' : (product_response.specs.battery_current_amps_to) ? product_response.specs.battery_current_amps_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_voltage_volts_to, {'label': 'Battery Voltage Volts To','attr': {'placeholder' : 'Battery Voltage Volts To', 'class': 'form-control'},'value' : (product_response.specs.battery_voltage_volts_to) ? product_response.specs.battery_voltage_volts_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.battery_energy_kwh_to, {'label': 'Battery Energy Kwh To','attr': {'placeholder' : 'Battery Energy Kwh To', 'class': 'form-control'},'value' : (product_response.specs.battery_energy_kwh_to) ? product_response.specs.battery_energy_kwh_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_battery_modules_per_pack, {'label': 'Number Of Battery Modules Per Pack','attr': {'placeholder' : 'Number Of Battery Modules Per Pack', 'class': 'form-control'},'value' : (product_response.specs.number_of_battery_modules_per_pack) ? product_response.specs.number_of_battery_modules_per_pack : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.number_of_battery_packs_per_vehicle, {'label': 'Number Of Battery Packs Per Vehicle','attr': {'placeholder' : 'Number Of Battery Packs Per Vehicle', 'class': 'form-control'},'value' : (product_response.specs.number_of_battery_packs_per_vehicle) ? product_response.specs.number_of_battery_packs_per_vehicle : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.charger_level, {'label': 'Charger Level','attr': {'placeholder' : 'Charger Level', 'class': 'form-control'},'value' : (product_response.specs.charger_level) ? product_response.specs.charger_level : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.charger_power_kw, {'label': 'Charger Power Kw','attr': {'placeholder' : 'Charger Power Kw', 'class': 'form-control'},'value' : (product_response.specs.charger_power_kw) ? product_response.specs.charger_power_kw : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_number_of_cylinders, {'label': 'Engine Number Of Cylinders','attr': {'placeholder' : 'Engine Number Of Cylinders', 'class': 'form-control'},'value' : (product_response.specs.engine_number_of_cylinders) ? product_response.specs.engine_number_of_cylinders : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.displacement_cc, {'label': 'Displacement Cc','attr': {'placeholder' : 'Displacement Cc', 'class': 'form-control'},'value' : (product_response.specs.displacement_cc) ? product_response.specs.displacement_cc : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.displacement_ci, {'label': 'Displacement Ci','attr': {'placeholder' : 'Displacement Ci', 'class': 'form-control'},'value' : (product_response.specs.displacement_ci) ? product_response.specs.displacement_ci : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.displacement_l, {'label': 'Displacement L','attr': {'placeholder' : 'Displacement L', 'class': 'form-control'},'value' : (product_response.specs.displacement_l) ? product_response.specs.displacement_l : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_stroke_cycles, {'label': 'Engine Stroke Cycles','attr': {'placeholder' : 'Engine Stroke Cycles', 'class': 'form-control'},'value' : (product_response.specs.engine_stroke_cycles) ? product_response.specs.engine_stroke_cycles : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_model, {'label': 'Engine Model','attr': {'placeholder' : 'Engine Model', 'class': 'form-control'},'value' : (product_response.specs.engine_model) ? product_response.specs.engine_model : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_power_kw, {'label': 'Engine Power Kw','attr': {'placeholder' : 'Engine Power Kw', 'class': 'form-control'},'value' : (product_response.specs.engine_power_kw) ? product_response.specs.engine_power_kw : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.fuel_type_primary, {'label': 'Fuel Type Primary','attr': {'placeholder' : 'Fuel Type Primary', 'class': 'form-control'},'value' : (product_response.specs.fuel_type_primary) ? product_response.specs.fuel_type_primary : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.valve_train_design, {'label': 'Valve Train Design','attr': {'placeholder' : 'Valve Train Design', 'class': 'form-control'},'value' : (product_response.specs.valve_train_design) ? product_response.specs.valve_train_design : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_configuration, {'label': 'Engine Configuration','attr': {'placeholder' : 'Engine Configuration', 'class': 'form-control'},'value' : (product_response.specs.engine_configuration) ? product_response.specs.engine_configuration : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.fuel_type_secondary, {'label': 'Fuel Type Secondary','attr': {'placeholder' : 'Fuel Type Secondary', 'class': 'form-control'},'value' : (product_response.specs.fuel_type_secondary) ? product_response.specs.fuel_type_secondary : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.fuel_delivery_fuel_injection_type, {'label': 'Fuel Delivery Fuel Injection Type','attr': {'placeholder' : 'Fuel Delivery Fuel Injection Type', 'class': 'form-control'},'value' : (product_response.specs.fuel_delivery_fuel_injection_type) ? product_response.specs.fuel_delivery_fuel_injection_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_brake_hp_from, {'label': 'Engine Brake Hp From','attr': {'placeholder' : 'Engine Brake Hp From', 'class': 'form-control'},'value' : (product_response.specs.engine_brake_hp_from) ? product_response.specs.engine_brake_hp_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.cooling_type, {'label': 'Cooling Type','attr': {'placeholder' : 'Cooling Type', 'class': 'form-control'},'value' : (product_response.specs.cooling_type) ? product_response.specs.cooling_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_brake_hp_to, {'label': 'Engine Brake Hp To','attr': {'placeholder' : 'Engine Brake Hp To', 'class': 'form-control'},'value' : (product_response.specs.engine_brake_hp_to) ? product_response.specs.engine_brake_hp_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.electrification_level, {'label': 'Electrification Level','attr': {'placeholder' : 'Electrification Level', 'class': 'form-control'},'value' : (product_response.specs.electrification_level) ? product_response.specs.electrification_level : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_engine_info, {'label': 'Other Engine Info','attr': {'placeholder' : 'Other Engine Info', 'class': 'form-control'},'value' : (product_response.specs.other_engine_info) ? product_response.specs.other_engine_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.turbo, {'label': 'Turbo','attr': {'placeholder' : 'Turbo', 'class': 'form-control'},'value' : (product_response.specs.turbo) ? product_response.specs.turbo : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.top_speed_mph, {'label': 'Top Speed Mph','attr': {'placeholder' : 'Top Speed Mph', 'class': 'form-control'},'value' : (product_response.specs.top_speed_mph) ? product_response.specs.top_speed_mph : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.engine_manufacturer, {'label': 'Engine Manufacturer','attr': {'placeholder' : 'Engine Manufacturer', 'class': 'form-control'},'value' : (product_response.specs.engine_manufacturer) ? product_response.specs.engine_manufacturer : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.pretensioner, {'label': 'Pretensioner','attr': {'placeholder' : 'Pretensioner', 'class': 'form-control'},'value' : (product_response.specs.pretensioner) ? product_response.specs.pretensioner : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.seat_belt_type, {'label': 'Seat Belt Type','attr': {'placeholder' : 'Seat Belt Type', 'class': 'form-control'},'value' : (product_response.specs.seat_belt_type) ? product_response.specs.seat_belt_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_restraint_system_info, {'label': 'Other Restraint System Info','attr': {'placeholder' : 'Other Restraint System Info', 'class': 'form-control'},'value' : (product_response.specs.other_restraint_system_info) ? product_response.specs.other_restraint_system_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.curtain_air_bag_locations, {'label': 'Curtain Air Bag Locations','attr': {'placeholder' : 'Curtain Air Bag Locations', 'class': 'form-control'},'value' : (product_response.specs.curtain_air_bag_locations) ? product_response.specs.curtain_air_bag_locations : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.seat_cushion_air_bag_locations, {'label': 'Seat Cushion Air Bag Locations','attr': {'placeholder' : 'Seat Cushion Air Bag Locations', 'class': 'form-control'},'value' : (product_response.specs.seat_cushion_air_bag_locations) ? product_response.specs.seat_cushion_air_bag_locations : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.front_air_bag_locations, {'label': 'Front Air Bag Locations','attr': {'placeholder' : 'Front Air Bag Locations', 'class': 'form-control'},'value' : (product_response.specs.front_air_bag_locations) ? product_response.specs.front_air_bag_locations : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.knee_air_bag_locations, {'label': 'Knee Air Bag Locations','attr': {'placeholder' : 'Knee Air Bag Locations', 'class': 'form-control'},'value' : (product_response.specs.knee_air_bag_locations) ? product_response.specs.knee_air_bag_locations : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.side_air_bag_locations, {'label': 'Side Air Bag Locations','attr': {'placeholder' : 'Side Air Bag Locations', 'class': 'form-control'},'value' : (product_response.specs.side_air_bag_locations) ? product_response.specs.side_air_bag_locations : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.anti_lock_braking_system_abs, {'label': 'Anti Lock Braking System Abs','attr': {'placeholder' : 'Anti Lock Braking System Abs', 'class': 'form-control'},'value' : (product_response.specs.anti_lock_braking_system_abs) ? product_response.specs.anti_lock_braking_system_abs : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.electronic_stability_control_esc, {'label': 'Electronic Stability Control Esc','attr': {'placeholder' : 'Electronic Stability Control Esc', 'class': 'form-control'},'value' : (product_response.specs.electronic_stability_control_esc) ? product_response.specs.electronic_stability_control_esc : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.traction_control, {'label': 'Traction Control','attr': {'placeholder' : 'Traction Control', 'class': 'form-control'},'value' : (product_response.specs.traction_control) ? product_response.specs.traction_control : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.tire_pressure_monitoring_system_tpms_type, {'label': 'Tire Pressure Monitoring System Tpms Type','attr': {'placeholder' : 'Tire Pressure Monitoring System Tpms Type', 'class': 'form-control'},'value' : (product_response.specs.tire_pressure_monitoring_system_tpms_type) ? product_response.specs.tire_pressure_monitoring_system_tpms_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.active_safety_system_note, {'label': 'Active Safety System Note','attr': {'placeholder' : 'Active Safety System Note', 'class': 'form-control'},'value' : (product_response.specs.active_safety_system_note) ? product_response.specs.active_safety_system_note : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.auto_reverse_system_for_windows_and_sunroofs, {'label': 'Auto Reverse System For Windows And Sunroofs','attr': {'placeholder' : 'Auto Reverse System For Windows And Sunroofs', 'class': 'form-control'},'value' : (product_response.specs.auto_reverse_system_for_windows_and_sunroofs) ? product_response.specs.auto_reverse_system_for_windows_and_sunroofs : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.automatic_pedestrian_alerting_sound_for_hybrid_and_ev_only, {'label': 'Automatic Pedestrian Alerting Sound For Hybrid And Ev Only','attr': {'placeholder' : 'Automatic Pedestrian Alerting Sound For Hybrid And Ev Only', 'class': 'form-control'},'value' : (product_response.specs.automatic_pedestrian_alerting_sound_for_hybrid_and_ev_only) ? product_response.specs.automatic_pedestrian_alerting_sound_for_hybrid_and_ev_only : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.event_data_recorder_edr, {'label': 'Event Data Recorder Edr','attr': {'placeholder' : 'Event Data Recorder Edr', 'class': 'form-control'},'value' : (product_response.specs.event_data_recorder_edr) ? product_response.specs.event_data_recorder_edr : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.keyless_ignition, {'label': 'Keyless Ignition','attr': {'placeholder' : 'Keyless Ignition', 'class': 'form-control'},'value' : (product_response.specs.keyless_ignition) ? product_response.specs.keyless_ignition : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.sae_automation_level_from, {'label': 'Sae Automation Level From','attr': {'placeholder' : 'Sae Automation Level From', 'class': 'form-control'},'value' : (product_response.specs.sae_automation_level_from) ? product_response.specs.sae_automation_level_from : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.sae_automation_level_to, {'label': 'Sae Automation Level To','attr': {'placeholder' : 'Sae Automation Level To', 'class': 'form-control'},'value' : (product_response.specs.sae_automation_level_to) ? product_response.specs.sae_automation_level_to : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.ncsa_body_type, {'label': 'Ncsa Body Type','attr': {'placeholder' : 'Ncsa Body Type', 'class': 'form-control'},'value' : (product_response.specs.ncsa_body_type) ? product_response.specs.ncsa_body_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.ncsa_make, {'label': 'Ncsa Make','attr': {'placeholder' : 'Ncsa Make', 'class': 'form-control'},'value' : (product_response.specs.ncsa_make) ? product_response.specs.ncsa_make : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.ncsa_model, {'label': 'Ncsa Model','attr': {'placeholder' : 'Ncsa Model', 'class': 'form-control'},'value' : (product_response.specs.ncsa_model) ? product_response.specs.ncsa_model : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.ncsa_note, {'label': 'Ncsa Note','attr': {'placeholder' : 'Ncsa Note', 'class': 'form-control'},'value' : (product_response.specs.ncsa_note) ? product_response.specs.ncsa_note : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.adaptive_cruise_control_acc, {'label': 'Adaptive Cruise Control Acc','attr': {'placeholder' : 'Adaptive Cruise Control Acc', 'class': 'form-control'},'value' : (product_response.specs.adaptive_cruise_control_acc) ? product_response.specs.adaptive_cruise_control_acc : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.crash_imminent_braking_cib, {'label': 'Crash Imminent Braking Cib','attr': {'placeholder' : 'Crash Imminent Braking Cib', 'class': 'form-control'},'value' : (product_response.specs.crash_imminent_braking_cib) ? product_response.specs.crash_imminent_braking_cib : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.blind_spot_warning_bsw, {'label': 'Blind Spot Warning Bsw','attr': {'placeholder' : 'Blind Spot Warning Bsw', 'class': 'form-control'},'value' : (product_response.specs.blind_spot_warning_bsw) ? product_response.specs.blind_spot_warning_bsw : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.forward_collision_warning_fcw, {'label': 'Forward Collision Warning Fcw','attr': {'placeholder' : 'Forward Collision Warning Fcw', 'class': 'form-control'},'value' : (product_response.specs.forward_collision_warning_fcw) ? product_response.specs.forward_collision_warning_fcw : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.lane_departure_warning_ldw, {'label': 'Lane Departure Warning Ldw','attr': {'placeholder' : 'Lane Departure Warning Ldw', 'class': 'form-control'},'value' : (product_response.specs.lane_departure_warning_ldw) ? product_response.specs.lane_departure_warning_ldw : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.lane_keeping_assistance_lka, {'label': 'Lane Keeping Assistance Lka','attr': {'placeholder' : 'Lane Keeping Assistance Lka', 'class': 'form-control'},'value' : (product_response.specs.lane_keeping_assistance_lka) ? product_response.specs.lane_keeping_assistance_lka : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.backup_camera, {'label': 'Backup Camera','attr': {'placeholder' : 'Backup Camera', 'class': 'form-control'},'value' : (product_response.specs.backup_camera) ? product_response.specs.backup_camera : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.parking_assist, {'label': 'Parking Assist','attr': {'placeholder' : 'Parking Assist', 'class': 'form-control'},'value' : (product_response.specs.parking_assist) ? product_response.specs.parking_assist : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.bus_length_feet, {'label': 'Bus Length Feet','attr': {'placeholder' : 'Bus Length Feet', 'class': 'form-control'},'value' : (product_response.specs.bus_length_feet) ? product_response.specs.bus_length_feet : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.bus_floor_configuration_type, {'label': 'Bus Floor Configuration Type','attr': {'placeholder' : 'Bus Floor Configuration Type', 'class': 'form-control'},'value' : (product_response.specs.bus_floor_configuration_type) ? product_response.specs.bus_floor_configuration_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.bus_type, {'label': 'Bus Type','attr': {'placeholder' : 'Bus Type', 'class': 'form-control'},'value' : (product_response.specs.bus_type) ? product_response.specs.bus_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_bus_info, {'label': 'Other Bus Info','attr': {'placeholder' : 'Other Bus Info', 'class': 'form-control'},'value' : (product_response.specs.other_bus_info) ? product_response.specs.other_bus_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.custom_motorcycle_type, {'label': 'Custom Motorcycle Type','attr': {'placeholder' : 'Custom Motorcycle Type', 'class': 'form-control'},'value' : (product_response.specs.custom_motorcycle_type) ? product_response.specs.custom_motorcycle_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.motorcycle_suspension_type, {'label': 'Motorcycle Suspension Type','attr': {'placeholder' : 'Motorcycle Suspension Type', 'class': 'form-control'},'value' : (product_response.specs.motorcycle_suspension_type) ? product_response.specs.motorcycle_suspension_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.motorcycle_chassis_type, {'label': 'Motorcycle Chassis Type','attr': {'placeholder' : 'Motorcycle Chassis Type', 'class': 'form-control'},'value' : (product_response.specs.motorcycle_chassis_type) ? product_response.specs.motorcycle_chassis_type : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.other_motorcycle_info, {'label': 'Other Motorcycle Info','attr': {'placeholder' : 'Other Motorcycle Info', 'class': 'form-control'},'value' : (product_response.specs.other_motorcycle_info) ? product_response.specs.other_motorcycle_info : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.dynamic_brake_support_dbs, {'label': 'Dynamic Brake Support Dbs','attr': {'placeholder' : 'Dynamic Brake Support Dbs', 'class': 'form-control'},'value' : (product_response.specs.dynamic_brake_support_dbs) ? product_response.specs.dynamic_brake_support_dbs : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.pedestrian_automatic_emergency_braking_paeb, {'label': 'Pedestrian Automatic Emergency Braking Paeb','attr': {'placeholder' : 'Pedestrian Automatic Emergency Braking Paeb', 'class': 'form-control'},'value' : (product_response.specs.pedestrian_automatic_emergency_braking_paeb) ? product_response.specs.pedestrian_automatic_emergency_braking_paeb : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.automatic_and_advanced_crash_notification_aacn, {'label': 'Automatic Crash Notification Acn Advanced Automatic Crash Notification Aacn','attr': {'placeholder' : 'Automatic Crash Notification Acn Advanced Automatic Crash Notification Aacn', 'class': 'form-control'},'value' : (product_response.specs.automatic_crash_notification_acn_advanced_automatic_crash_notification_aacn) ? product_response.specs.automatic_crash_notification_acn_advanced_automatic_crash_notification_aacn : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.daytime_running_light_drl, {'label': 'Daytime Running Light Drl','attr': {'placeholder' : 'Daytime Running Light Drl', 'class': 'form-control'},'value' : (product_response.specs.daytime_running_light_drl) ? product_response.specs.daytime_running_light_drl : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.headlamp_light_source, {'label': 'Headlamp Light Source','attr': {'placeholder' : 'Headlamp Light Source', 'class': 'form-control'},'value' : (product_response.specs.headlamp_light_source) ? product_response.specs.headlamp_light_source : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.semiautomatic_headlamp_beam_switching, {'label': 'Semiautomatic Headlamp Beam Switching','attr': {'placeholder' : 'Semiautomatic Headlamp Beam Switching', 'class': 'form-control'},'value' : (product_response.specs.semiautomatic_headlamp_beam_switching) ? product_response.specs.semiautomatic_headlamp_beam_switching : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.adaptive_driving_beam_adb, {'label': 'Adaptive Driving Beam Adb','attr': {'placeholder' : 'Adaptive Driving Beam Adb', 'class': 'form-control'},'value' : (product_response.specs.adaptive_driving_beam_adb) ? product_response.specs.adaptive_driving_beam_adb : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.rear_cross_traffic_alert, {'label': 'Rear Cross Traffic Alert','attr': {'placeholder' : 'Rear Cross Traffic Alert', 'class': 'form-control'},'value' : (product_response.specs.rear_cross_traffic_alert) ? product_response.specs.rear_cross_traffic_alert : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.rear_automatic_emergency_braking, {'label': 'Rear Automatic Emergency Braking','attr': {'placeholder' : 'Rear Automatic Emergency Braking', 'class': 'form-control'},'value' : (product_response.specs.rear_automatic_emergency_braking) ? product_response.specs.rear_automatic_emergency_braking : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.blind_spot_intervention_bsi, {'label': 'Blind Spot Intervention Bsi','attr': {'placeholder' : 'Blind Spot Intervention Bsi', 'class': 'form-control'},'value' : (product_response.specs.blind_spot_intervention_bsi) ? product_response.specs.blind_spot_intervention_bsi : '' })}}
                    </div>
                    <div class="col-md-6  mb-3">
                    {{ form_row(form.lane_centering_assistance, {'label': 'Lane Centering Assistance','attr': {'placeholder' : 'Lane Centering Assistance', 'class': 'form-control'},'value' : (product_response.specs.lane_centering_assistance) ? product_response.specs.lane_centering_assistance : '' })}}
                    </div>
                </div>
                    

                    

                    

                    

                    




                    

                    
                    

                    
                    
                    

                    

                    
                    
                {% endif %}
            {% else %}
                
            {% endif %}

            

            

                <input type="hidden" name="page_no" value="{{ page_no ? page_no : 1 }}"/>
                <input type="hidden" name="responseData" value="{{ product_response_data }}"/>
            
            <!-- Submit -->
            <div class="form-group mt-3">
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            </div>
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {#{{ encore_entry_script_tags('js/city') }}#}
    {#{{ encore_entry_script_tags('js/select2') }}#}

    <script src="{{ asset('libs/summernote/0.8.20/summernote-bs4.min.js') }}"></script>
    {{ encore_entry_script_tags('js/product') }}

{% endblock %}
