{% extends 'layout/base.html.twig' %}

{% block subheader %}
<!-- Title -->
{# {{ include('layout/partials/_title.html.twig') }}#}
<!-- Search -->
{# {{ include('product/partials/_search_form.html.twig') }}#}
{% endblock %}

{% block body %}

<div class="row" id="products-section">

    <div class="col-md-3">

        <div class="row">
            <form action="{{path('product_index')}}" method="post">
            <div class="col-md-12 pb-3">
                <label for="make">Make</label>
                <select name="make" class="form-control" id="make">
                    <option value="" selected disabled>--Select Make--</option>    
                    {% for category in categories %}
                    <option                   
                    {{ make==category.id ? 'selected' : '' }}                   
                     value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            {% if subCategories|length  %}
            <div class="col-md-12 pb-3">
                <div class="card" id="models-card">                    
                    <div class="card-body">     
                        <h6 class="card-title" id="model-title">Models</h6>                          
                        <ul class="list-group list-group-flush" id="models">                            
                            {% for subCategory in  subCategories %}
                                <li class="list-group-item"><input {{isDisabled}} {% if subCategory.id in models %}
                                     {{'checked'}} {% endif %} type="checkbox" value="{{subCategory.id}}" class="model-checkbox" name="models[]"> {{subCategory.name}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>               
            </div>
            {% endif %}
        </form>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">


            {% for product in products %}

            <!-- Item -->
            <div class="col-lg-3 col-md-6 col-sm-12 pb-3">
                <div class="card full-xs">

                    <div class="product-box-img">

                        <a href="{{ path('product_show', {
                        'id':  product.id,
                        'slug': product.slug}) }}">

                            {% for photo in product.images | slice(0, 1) %}

                            <img class="card-img-top lazyload" src="{{ asset('/images/transparent.png') }}"
                                data-src="/uploads/images/small/{{ photo.file }}" alt="{{ product.slug }}"
                                title="{{ product.title }}" />

                            {% else %}

                            <img class="card-img-top border-bottom" src="{{ asset('/images/no-photo.png') }}"
                                alt="{{ product.slug }}" title="{{ product.title }}" />

                            {% endfor %}

                            {% if product.price != '' %}
                            <span class="price">
                                $ {{ product.price }}
                                {# {% if product.priceType != '' %}#}
                                {# / {{ product.priceType }}#}
                                {# {% endif %}#}
                            </span>
                            {% endif %}

                        </a>

                    </div>

                    <div class="card-body">
                        <h5 class="card-title">

                            <a href="{{ path('product_show', {
                            'id':  product.id,
                            'slug': product.slug}) }}">
                                {{ product.title }}
                            </a>

                        </h5>
                        <p class="small icon-green">
                            <i class="fas fa-map-marker-alt"></i>
                            {# {{ product.address }}#}
                            {{ product.id }}
                        </p>


                        {# <span class="attribute">{{ product.dealType.name }}</span>#}
                        <span class="attribute">{{ product.category.name }}</span>

                    </div>

                </div>

            </div>

            <!-- / Item -->

            {% else %}

            <div class="well text-center">
                <img class="img-fluid w-50" src="{{ asset('images/no-data-found.png') }}" alt="No data found">               
                <p class="fs-4 text-justify mb-0">No cars matching with your search</p>
                <p class="fs-4 text-justify mb-0">Please modify your search</p>
            </div>

            {% endfor %}
        </div>
        <div class="py-lg-4">
            {{ knp_pagination_render(products) }}
        </div>
    </div>

</div>



{% endblock %}
{% block javascripts %}

<script>
var productPath = "{{path('product_index',{'make':'_make_id','models':'_model_id'})}}";
</script>
{{ encore_entry_script_tags('js/product') }}
{% endblock %}