{% extends 'layout/base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}

    <!-- Navbar -->
    {{ include('_partials/_action_title.html.twig') }}

    <div class="row">
        <div class="col">

            {{ form_start(form) }}

            <div class="form-floating my-3">
                {{ form_row(form.title) }}
            </div>

            <div class="form-floating my-3">
                {{ form_row(form.description) }}
            </div>

            <div class="form-floating my-3">
                {{ form_row(form.category) }}
            </div>

            <div class="form-floating my-3">
                {{ form_row(form.price) }}
            </div>


            <!-- Action -->
            {{ include('_partials/_action_form.html.twig') }}

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
