{% extends 'layout/base.html.twig' %}

{#{% block title %}{{ product.productDescription.metaTitle|default(product.productDescription.title) }}{% endblock %}#}
{#{% block description %}{{ product.productDescription.metaDescription }}{% endblock %}#}

{% block stylesheets %}

    {{ encore_entry_link_tags('css/detail') }}
    {{ encore_entry_link_tags('css/ekko-lightbox') }}

{% endblock %}

{#{% block header %}{% endblock %}#}

{% block body %}

{#    {% if is_granted('ROLE_ADMIN') %}#}

{#        <a href="{{ url('admin_product_edit', {id: product.id}) }}" class="btn btn-primary float">#}
{#            <i class="fas fa-pen float-icon"></i>#}
{#        </a>#}

{#    {% endif %}#}
{#709879870870#}
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="card full-xs mb-4">

{#                {{ include('product/partials/_slider.html.twig') }}#}

                <div class="card-body">

                    <h4 class="card-title">{{ product.title }}</h4>

{#                    <p class="address">{{ product.address }}</p>#}

{#                    {{ include('product/partials/_overview.html.twig') }}#}

                    {{ product.description | raw }}

                    <div class="clearfix"></div>

                    <div class="row">
{#                        {% for feature in product.features %}#}
{#                            <div class="col-lg-4 col-md-6 col-sm-6 icon-green">#}
{#                                {{ feature.icon|default('<i class="fas fa-check"></i>')|raw }}#}
{#                                {{ feature.name }}#}
{#                            </div>#}
{#                        {% endfor %}#}
                    </div>

{#                    <div id="map"#}
{#                         data-balloonContent="{{ product.productDescription.title }}"#}
{#                         data-hintContent="{{ product.category.name }}"#}
{#                         data-latitude="{{ product.latitude }}"#}
{#                         data-longitude="{{ product.longitude }}"#}
{#                    ></div>#}

                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">

{#            {{ include('product/partials/_contact_widget.html.twig') }}#}
{#            {{ include('product/partials/_search_widget.html.twig') }}#}

        </div>

    </div>

{#    {% if properties %}#}
{#        {{ include('product/partials/_similar_properties.html.twig') }}#}
{#    {% endif %}#}

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/ekko-lightbox') }}
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{#    {% if product.showMap == true and product.latitude != '' and product.longitude != '' %}#}

{#        {% if site.ymaps_key != '' %}#}

{#            <script src="https://api-maps.yandex.ru/2.1/?apikey={{ site.ymaps_key }}&lang={{ app.request.locale }}"></script>#}

{#        {% else %}#}

{#            <script src="https://api-maps.yandex.ru/2.1/?lang={{ app.request.locale }}"></script>#}

{#        {% endif %}#}

{#        {{ encore_entry_script_tags('js/map') }}#}

{#    {% endif %}#}

{% endblock %}
