<!-- Header -->
<header>

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light static-top bg-light">

    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_index') }}">
            {{ site.site_name }}
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav ms-auto mb-2 mb-md-0">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_thread_index') }}">
                        {{ 'menu.forum'|trans }}
                    </a>
                </li>

                {{ include('layout/partials/_menu.html.twig') }}

                {{ include('layout/partials/_user.html.twig') }}

            </ul>

        </div>

    </div>

</nav>

</header>
