<!-- Sidebar -->
<div class="flex-shrink-0">

    <ul class="list-unstyled ps-0">

        <li class="mb-3">
            <a href="{{ path('app_dash') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-gauge"></i>
                {{ 'menu.dash'|trans }}
            </a>
        </li>

        <li class="mb-3">
            <a href="{{ path('user_products') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-regular fa-address-card"></i>
                {{ 'menu.products'|trans }}
            </a>
        </li>

        <li class="mb-3">
            <a href="{{ path('app_thread_index') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-regular fa-keyboard"></i>
                {{ 'menu.messages'|trans }}
            </a>
        </li>
        {% if app.user.roles[0] == 'ROLE_DEALER' %}
            <li class="mb-3">
            <a href="{{ path('app_dealer_index') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-users"></i>
                {{ 'menu.dealer'|trans }}
            </a>
        </li>
        {%endif%}
        <li class="mb-3">
            <a href="{{ path('security_logout') }}" class="link-light d-inline-flex text-decoration-none rounded">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                {{ 'menu.logout'|trans }}
            </a>
        </li>

    </ul>

</div>
