{#{{ form_errors(form) }}#}
{#{% set formErrors = errors.form.getErrors(true) %}#}

{# If there are errors in the form, display them in this unorganized list #}
{#{% if formErrors|length %}#}
{#    <ul>#}
{#        {% for error in formErrors %}#}
{#            <li>{{ error.message }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}



{% for type, messages in app.flashes %}

app.flash!

    {% for message in messages %}

        <div class="alert alert-{{ type }} alert-dismissible fade show mt-lg-4" role="alert">
            {{ message|trans }} 11111 -- {{ type }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
{% endfor %}


{#{% if error %}#}
{#    <div class="alert alert-danger alert-dismissible fade show mt-lg-4" role="alert">#}
{#        {{ error.messageKey|trans(error.messageData, 'security') }}#}
{#        <div class="alert alert-danger">{{ error.messageKey }}</div>#}
{#        333333333333#}
{#        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#    </div>#}
{#{% endif %}#}

{% if error %}

    errror!

    {% for message in error_message %}

        <div class="alert alert-danger alert-dismissible fade show mt-lg-4" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
{% endif %}

{% if app.user %}
    {% if not app.user.isVerified %}
        <div class="alert alert-dismissible alert-warning mt-2" role="alert">
            {{ 'message.confirm_email'|trans }} 22222
            <a href="#" id="resend"
               data-token="{{ csrf_token('csrf_token') }}"
               data-path="{{ path('resend_confirmation') }}"
               style="display: none">
                {{ 'confirmation.email.resend'|trans }}
            </a>
        </div>
    {% endif %}
{% endif %}
