<form
    action="{{ url(delete_url, {id: id}) }}"
    method="post"
    id="delete-form-{{ id }}">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <div class="btn-group btn-group-sm" role="group">

        <span class="me-1">
            <a href="{{ url(edit_url, {id: id}) }}" class="btn btn-sm btn-info">
                {{ 'action.edit'|trans }}
            </a>
        </span>

        <span>
            <button type="submit"
                    data-type="delete"
                    class="btn btn-sm btn-danger"
                    data-message="{{ 'action.continue'|trans }}"
                    data-confirmation-text="{{ 'action.delete'|trans }}"
                    data-cancellation-text="{{ 'action.cancel'|trans }}">
                {{ 'action.delete'|trans }}
            </button>
        </span>

    </div>
</form>
