{% extends 'layout/base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}

<!-- Navbar -->
{{ include('_partials/_action_title.html.twig') }}

<div class="row">
    <div class="col">

        <div class="table-responsive">
            <table class="table" style="background-color: #FFFFFF">
                <thead class="thead">
                <tr>
                    <th>{{ 'table.plan'|trans }}</th>
                    <th>{{ 'table.price'|trans }}</th>
                    <th>{{ 'table.valid_until'|trans }}</th>
                    <th>{{ 'table.availability'|trans }}</th>
                    <th>{{ 'table.support'|trans }}</th>
                    <th>{{ 'table.stripe_price_Id'|trans }}</th>
                    <th>{{ 'table.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>

                {% for item in subscriptions %}
                    <tr>
                        <td>
                            {{ item.plan }}
                        </td>
                        <td>
                            {{ item.price }}
                       </td>
                        <td>
                            {{ item.validUntil }}
                        </td>
                        <td>
                            {{ item.availability }}
                        </td>
                        <td>
                            {{ item.support }}
                        </td>
                        <td>
                            {{ item.stripePriceId }}
                        </td>
                        <td>
                            {{ include(
                                '_partials/_action_group_form.html.twig',
                                {
                                    id: item.id,
                                    delete_url: action_delete_url,
                                    edit_url: action_edit_url
                                },
                                with_context = false
                            ) }}
                        </td>
                    </tr>

                {% else %}
                    <div class="well">{{ 'message.not_found'|trans }}</div>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
