<form action="{{ url('user_image_delete', {id: image.id, product_id: product_id }) }}"
      method="post"
      data-confirmation="true">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <button class="btn btn-danger btn-sm remove"
            data-type="delete"
            data-message="{{ 'text.confirm_delete' | trans }}"
            data-confirmation-text="{{ 'action.delete' | trans }}"
            data-cancellation-text="{{ 'action.cancel' | trans }}">
        {{ 'action.delete' | trans }}
    </button>

</form>
