{% extends 'admin/layout/base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}

<!-- Navbar -->
{{ include('admin/_partials/_action_title.html.twig') }}

<div class="row">
    <div class="col">

        <div class="table-responsive">
            <table class="table" style="background-color: #FFFFFF">
                <thead class="thead">
                <tr>
                    <th>{{ 'table.title'|trans }}</th>
                    <th>{{ 'table.description'|trans }}</th>
                    <th>{{ 'table.slug'|trans }}</th>
                    <th>{{ 'table.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>

                {% for page in pages %}
                    <tr>
                        <td>
                            {{ page.title }}
                        </td>
                        <td>
                            {{ page.description }}
                       </td>
                        <td>
                            {{ page.slug }}
                        </td>
                        <td>
                            {{ include(
                                'admin/_partials/_action_form.html.twig',
                                {
                                    id: page.id,
                                    delete_url: delete_url,
                                    edit_url: edit_url
                                },
                                with_context = false
                            ) }}
                        </td>
                    </tr>

                {% else %}
                    <div class="well">Nothing</div>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {{ knp_pagination_render(pages) }}

    </div>
</div>

{% endblock %}
